.RegistroArticulos{
margin-left: 5%;
margin-top: 2%;
}

.registroServicios{
margin-top: -18.1%;
float: right;
margin-right: 12%;
}

.tablaArticulos{
margin-left: 5%;
margin-top: 2%;
}

.tablaServicios{
float: right;
margin-right: 26%;
margin-top: -4.8%;
}

.tablaActualizar{
margin-left: 25%;
}

nav{

margin-left: 10%;
}

.editarArticulo{
float: right;
margin-right: 25%;
margin-top: -5%;
}

nav button {
    padding: 4px;
        padding-top: 4px;
        padding-bottom: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 5px;
    width: 22.2%;
    color: white;
    text-transform: uppercase;
    background-color: #FF9429;
    display: inline;
    float: left;
    font-size: 20px;
}

content{

background-color: #38B5E0;
float: left;
overflow: hidden;
width: 80%;
margin-top: 0px;
display: inline-block;
text-align: left;
padding-bottom: 0%;
margin-left: 10%;
height: 900px;
}

.BRA{
margin-left: 5%;
margin-top: 1%;

}

.btnAA{
margin-left: 9%;
margin-top: 10%;
}

.AI{
	margin-left: 5%;
}

.tablaResumen{
margin-left: 5%;
width:30%;
float:left;
}

.tablaResumen2{
width: 60%;
float:right;
margin-right: 5%;
margin-left:5%;
}
